<!-- Insert into <head> and change src/href paths as needed -->
<link rel="stylesheet" type="text/css" href="./main.css">
<script src='./main.js' type="text/javascript"></script>
<script type="text/javascript" src='http://qcdn.qordoba.com/qordoba-latest.min.js'></script>


<!-- Insert directly into <body> -->
<div class="qordoba-dropdown">
  <button onclick="toggleDropdown()" class='qordoba-dropbtn'> Select language </button>
    <div id='qordoba-myDropdown' class='qordoba-dropdown-content'>
      <!--Create another <a> tag for each of your languages -->
      <a onclick='handleSelect(this)' selected='selected' data-langcode='en-us'>
      English
      </a>
      <a onclick='handleSelect(this)' data-langcode='de-de'>
      German
      </a>
    </div>
</div>

