/* Dropdown Button */
.qordoba-dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.qordoba-dropdown {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
}

/* Dropdown Content (Hidden by Default) */
.qordoba-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 10px;
}

/* Links inside the dropdown */
.qordoba-dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

/* Change color of dropdown links on hover */
.qordoba-dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu */
.qordoba-show {display:block;}

/* Position the dropdown menu */
.qordoba-topLeft{ 
  position: absolute;
  top: 0px;
  left: 0px;
} 

.qordoba-topRight{ 
  position: absolute;
  top: 0px;
  right: 0px;
}